[Unit]
Description=Slurm controller daemon
After=network.target munge.service
ConditionPathExists={{ slurm_install_dir }}/etc/slurm.conf

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/slurmctld
ExecStartPre=-/usr/bin/pkill -KILL slurmctld
ExecStart=/tools/admin/slurm/sbin/slurmctld $SLURMCTLD_OPTIONS
ExecReload=-/bin/kill -HUP $MAINPID
ExecStop=-/usr/bin/pkill -KILL slurmctld
PIDFile=/var/run/slurm/slurmctld.pid
KillMode=process
LimitNOFILE=51200
LimitMEMLOCK=infinity
LimitSTACK=infinity
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
